@font-face {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: normal;
}
body{
}
header{
  width: 1024px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Serif";
}
.logo{
  height: 100%;
}
.logo img{
  height: 150px;
  width: 150px;
}
.menu a{
  text-decoration: none;
  color: black;
  font-size: 20pt;
  margin-left: 20px;
}
.menu a:hover{
  text-decoration: underline;
}
.content{
  width: 1024px;
  margin: auto;
}
.post{
  width: 60%;
  margin-left: 20%;
}
.maps{
  width: 75%;
  margin-left: 0%;
}
.maps h1{
  font-family: "PT sans";
  font-size: 35pt;
}
.post p{
  font-family: "PT serif";
  font-size: 14pt;
}
.post h1{
  font-family: "PT sans";
  font-size: 35pt;
}
.post h2{
  font-family: "PT sans";
  font-size: 25pt;
}
.post img{
  width: 100%;
}
.post{
  margin-top: 100px;
}
.footer{
  height: 50px;
  width: 1024px;
  margin: auto;
  margin-top: 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links a{
  text-decoration: none;
  color: white;
  font-family: "PT Sans";
  margin-left: 20px;
}
.footer p{
  color: white;
  font-family: "PT Sans";
  margin-right: 20px;
}
.footer-links a:hover{
  text-decoration: underline;
}
